* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #000;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;

}



/* 헤더 */
header {
  overflow: hidden;
  position: relative;

}

header .header-wrap {
  width: 100%;
  position: fixed;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  border-bottom: 1px solid #000;

}

.logo span a{
  font-weight: 900;
  color: #000;
  mix-blend-mode: difference;
  font-size: 24px;
}

.gnb-pc {
  display: flex;
  justify-content: space-around;
  display: none;
}

.gnb-pc li {
  padding: 0 8px;
}

.gnb-pc li a {
  padding: 1px 7px;
  font-weight: 500;

  mix-blend-mode: difference;
}

.gnb-pc li a:hover {
  background: #000;
  color: #fff;

  border-radius: 50px;
}

.menu-btn {
  background: none;
  width: 32px;
}

.gnb-mo {
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 65px;

  z-index: 10;
}

.gnb-mo li {
  width: 100%;
  height: 100px;

  border-bottom: 1px solid black;
}

.gnb-mo li a{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 0 24px;

  font-size: 32px;
}



.cursor {
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  
  position: fixed;
  left: -1000px;
  top: -1000px;
  z-index: 100;
  
  mix-blend-mode: difference;
  
  pointer-events: none;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: all .15s ease;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}

.hover {
  background: #2b79a6;
  transform: translate(-50%,-50%) scale(1.9);
}

.hidden {
  display: none;
}

@media screen and (min-width:760px){
  header .header-wrap {
    border: none;
  }

  .gnb-pc {
    display: flex;
  }

  .menu-btn {
    display: none;
  }

  .gnb-mo {
    display: none;
  }

}